/*Variables for size, spacing, border, colors, and typography*/
:root {
    /*Image widths*/
    --logo-width: 50px;
    --big-logo-width: 200px;
    --project-img-width: 250px;

    /*Header spacing*/
    --header-padding: 1rem 2rem;

    /*Logo/title spacing*/
    --logo-title-width: 15rem;

    /*Nav spacing*/
    --nav-padding: 0 0 0 2rem;

    /*Main size and spacing*/
    --main-padding: 0 2em;
    --paragraph-text-align: left; 
    --content-width: 63%;
    --content-margin: 2em 0;
    --content-padding: 2em;
    --input-button-padding: 1rem 2rem;

    /*Divider spacing*/
    --section-divider-width: 60%;
    --section-divider-height: 5px;

    /*Home spacing*/
    --home-align-items: center;

    /*About spacing*/
    --lists-container-justify-content: space-around;
    --lists-container-padding: 0 2em;
    --list-align-items: center;
    --list-justify-content: start;
    --list-title-margin: 1rem 0 0;
    --resume-margin: 2rem 0;

    /*Projects size and spacing*/
    --projects-width: 75%;
    --card-width: 38%;
    --card-padding: 1rem 2rem;
    --card-align-items: center;
    --card-margin: 0 0 2rem;
    --card-image-width: 250px;
    --card-image-height: 170px;

    /*Contact size and spacing*/
    --form-align-items: center;
    --form-field-width: 75%;
    --form-field-margin: 0 0 1rem;
    --form-label-margin-bottom: .5rem;
    --textarea-height: 10rem;

    /*Contact typography*/
    --submit-btn-font-size: 1.25rem;

    /*Footer spacing*/
    --footer-padding: 1rem 2rem;

    /*Colors for whole page*/
    --background-color: #22577A;
    --text-color: #FFF;
    --border-color: #57CC99;
    --divider-color: #FFF;
    --header-footer-background-color: #FFF;
    --header-footer-text-color: #22577A;
    --header-footer-border-color: #22577A;
    --card-background-color: #90ABBC;
    --card-text-color: #0A1727;

    /*Border styles*/
    --content-border-radius: 20px;
    --button-border-radius: 40px;
    --content-border-width: 5px;
    --logo-border-radius: 50%;
    --small-logo-border-width: 2px;

    /*Font styles*/
    --content-font-family: 'Roboto', sans-serif;
    --content-font-weight: 400;
    --content-font-size: 1rem;
    --content-line-height: 2rem;

    --button-font-weight: 500;
    --button-font-size: 1.25rem;

    --header-footer-font-size: 20px;
    --header-footer-line-height: 40px;
    --header-footer-text-decoration: none;
    --nav-list-style: none;

    --section-title-font-size: 2rem;
    --section-anchor-font-size: 1rem;
    --section-title-anchor-line-height: 40px;
    --section-anchor-text-decoration: underline;

    --skills-list-title-font-size: 1.25rem;
    --skills-list-body-font-size: 1rem;
    --skills-list-line-height: 20px;

    --card-title-font-size: 1.25rem;
    --card-title-line-height: 2rem;
    --card-desc-font-size: 1rem;
    --card-desc-line-height: 1.5rem;

    --form-label-font-size: 1.125rem;
    --form-label-line-height: 1.25rem;
    --form-input-font-size: 1rem;
    --form-input-line-height: 1.5rem;


}

/*Enable smooth scrolling between linked sections*/
html{
    scroll-behavior: smooth;
}

/*Utility classes*/
/*Layout*/
.no-margin-or-padding{
    margin: 0;
    padding: 0;
}

.flex-container-row {
    display: flex;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
}

.justify-between-align-center{
    justify-content: space-between;
    align-items: center;
}

.text-align-center {
    text-align: center;
}

.remove-margin-block{
    margin-block: 0;
}

.black-border {
    border: 1px solid black;
}

/*Removes extra space on the bottom of an image anchor link*/
.remove-anchor-img-space{
    line-height: 0;
}

/*Colors*/
.background-primary{
    background-color: var(--background-color);
}

.background-secondary{
    background-color: var(--card-background-color);
}

/*Borders*/
.primary-border{
    border: var(--content-border-width) solid var(--border-color);
}

.header-border{
    border-bottom: var(--content-border-width) solid var(--background-color);
}

.footer-border{
    border-top: var(--content-border-width) solid var(--background-color);
}

.small-logo-border{
    border: var(--small-logo-border-width) solid var(--border-color);
}

.rounded-border{
    border-radius: var(--content-border-radius);
}

.rounded-btn-border{
    border-radius: var(--button-border-radius);
}

.circle-border{
    border-radius: var(--logo-border-radius);
}

/*Font styling*/
body, .form-input, textarea{
    font-family: var(--content-font-family);
    font-weight: var(--content-font-weight);
}

.card-text-color{
    color: var(--card-text-color);
}

.header-footer-text{
    color: var(--header-footer-text-color);
    text-decoration: var(--header-footer-text-decoration);
}

.nav{
    list-style: var(--nav-list-style);
}

.paragraph-text-style{
    color: var(--text-color);
    font-size: var(--content-font-size);
    font-weight: var(--content-font-weight);
    line-height: var(--content-line-height);
}

.button-text-style{
    color: var(--text-color);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    text-decoration: var(--header-footer-text-decoration);
}

.section-title{
    color: var(--text-color);
    font-size: var(--section-title-font-size);
    line-height: var(--section-title-anchor-line-height);
}

.contact .section-title, .contact .section-nav-link{
    color: var(--card-text-color);
}

.section-anchor-text-style{
    color: var(--text-color);
    font-size: var(--section-anchor-font-size);
    line-height: var(--section-title-anchor-line-height);
    text-decoration: var(--section-anchor-text-decoration);
}

.skill-list-title-text-style{
    font-size: var(--skills-list-title-font-size);
    line-height: var(--skills-list-line-height);
}

.skill-list-body-text-style{
    font-size: var(--skills-list-body-font-size);
    line-height: var(--skills-list-line-height);
}

.card-title-text-style{
    font-size: var(--card-title-font-size);
    line-height: var(--card-title-line-height);
}

.card-desc-text-style{
    font-size: var(--card-desc-font-size);
    line-height: var(--card-desc-line-height);
}

.form-label-text-style{
    font-size: var(--form-label-font-size);
    line-height: var(--form-label-line-height);
    font-weight: var(--button-font-weight);
}

.form-input-text-style{
    font-size: var(--form-input-font-size);
    line-height: var(--form-input-line-height);
}

/*Layout (in order of content on page)*/

/*Image Sizing (in order of content on page)*/
.logo {
    width: var(--logo-width);
}

.big-logo {
    width: var(--big-logo-width);
}

.project-img{
    width: var(--project-img-width);
}

.about-me-img{
    height: 402px;
    width: 100%;
    object-fit: cover;
    border-top: var(--content-border-width) solid var(--border-color);
    border-bottom: var(--content-border-width) solid var(--border-color);
}

.clouds{
    object-position: center bottom;
}

.work{
    object-position: center center;
}

/*Header*/
.header {
    padding: var(--header-padding);
}

.logo-title{
    width: var(--logo-title-width);
}

.nav-link {
    padding: var(--nav-padding);
}

/*Main*/
.main {
    padding: var(--main-padding);
}

.home, .projects, .contact{
    text-align: var(--paragraph-text-align);
    width: var(--content-width);
    margin: var(--content-margin);
    padding: var(--content-padding);
}

.section-title{
    margin-block: .5rem;
}

.about-me .section-title{
    margin-block-start: 2rem;
}

.title-anchor{
    margin-bottom: 1rem;
}

.section-divider{
    width: var(--section-divider-width);
    height: var(--section-divider-height);
    background-color: var(--header-footer-background-color);
    border: none;
    border-radius: var(--content-border-radius);
}

/*Main: Home*/
.home{
    align-items: var(--home-align-items);
}

/*Main: About Me*/
.about-me{
    width: 100vw;
    margin: var(--content-margin);
    text-align: var(--paragraph-text-align);
}

.background, .skills, .resume {
    width: var(--content-width);
    text-align: var(--paragraph-text-align);
    padding: var(--content-padding);
}

.skills-lists{
    justify-content: var(--lists-container-justify-content);
    /* padding: var(--lists-container-padding); */
}

.hard-skills, .soft-skills{
    align-items: var(--list-align-items);
    justify-content: var(--list-justify-content);
    padding: var(--card-padding);
}

.skills-title{
    margin: var(--list-title-margin);
}

.resume{
    margin: var(--resume-margin);
    padding: var(--input-button-padding);
    text-align: center;
}

.resume-link {
    padding: var(--input-button-padding);
}

/*Main: Projects*/

.projects {
    width: var(--projects-width);
    padding-bottom: 0;
}

.cards {
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: var(--card-width);
    padding: var(--card-padding);
    align-items: var(--card-align-items);
    margin: var(--card-margin);
}

.project-img{
    object-fit: cover;
    width: var(--card-image-width);
    height: var(--card-image-height);
}

/*Main: Contact*/
.contact{
    margin: 4rem 0;
}

.form {
    align-items: var(--form-align-items);
}

.form-field{
    width: var(--form-field-width);
    margin: var(--form-field-margin);
}

.form-label{
    margin-bottom: var(--form-label-margin-bottom);
}

.form-input{
    padding: var(--input-button-padding);
}

textarea {
    height: var(--textarea-height);
}

.submit-btn{
    padding: var(--input-button-padding);
    font-size: var(--submit-btn-font-size);
}

/*Footer*/

.footer {
    padding: var(--footer-padding);
}

.connect {
    width: 12rem;
}






