/*Variables for margin, padding, border, colors, and typography*/
:root {
    /*Image widths*/
    --logo-width: 50px;
    --big-logo-width: 200px;
    --project-img-width: 250px;

    /*Image border radius*/
    --logo-border-radius: 50%;

    /*Header spacing*/
    --header-padding: 2rem;

    /*Logo/title spacing*/
    --logo-title-width: 15rem;

    /*Nav spacing*/
    --nav-padding: 0 0 0 2rem;

    /*Main spacing*/
    --main-padding: 0 2em;

    /*Home spacing*/
    --home-padding: 2em;
    --home-text-align: justify;
    --home-width: 50%;
    --home-align-items: center;
    --home-margin-top: 2em;

    /*Footer spacing*/
    --footer-padding: 1rem 2rem;

}

/*Enable smooth scrolling between linked sections*/
html{
    scroll-behavior: smooth;
}

/*Utility classes*/
.no-margin-or-padding{
    margin: 0;
    padding: 0;
}

.flex-container-row {
    display: flex;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
}

.justify-between-align-center{
    justify-content: space-between;
    align-items: center;
}

.black-border {
    border: 1px solid black;
}


/*Image Sizing (in order of content on page)*/
.logo {
    width: var(--logo-width);
    border-radius: var(--logo-border-radius);
}

.big-logo {
    width: var(--big-logo-width);
    border-radius: var(--logo-border-radius);
}

.project-img{
    width: var(--project-img-width);
}

/*Removes extra space on the bottom of an image anchor link*/
.remove-anchor-img-space{
    line-height: 0;
}

/*Layout (in order of content on page)*/

/*Header*/
.header {
    padding: var(--header-padding);
}

.logo-title{
    width: var(--logo-title-width);
}

.nav-link {
    padding: var(--nav-padding);
}

/*Main*/
.main {
    padding: var(--main-padding);
}

/*Main: Home*/
.home {
    text-align: var(--home-text-align);
    width: var(--home-width);
    align-items: var(--home-align-items);
    margin-top: var(--home-margin-top);
    padding: var(--home-padding);
}

/*Main: About Me*/


/*Main: Projects*/

/*Main: Contact*/

/*Footer*/

.footer {
    padding: var(--footer-padding);
}

.connect {
    width: 12rem;
}

/*Removes vertical margin around footer paragraph*/
.connect-message {
    margin-block: 0;
}






